:root {
  font-size: 16px;
  --text-dark: #111827;
  --text-gray: #374151;
  --bg-hover: rgba(17, 24, 39, 0.05);
  --bg-active-sub: #ebebec;
  --bg-active-sub-hover: #ebebec;
  --bg-active-top: #111827;
  --border-gray: rgba(0, 0, 0, 0.05);
}

/* 기본 구조 */
.sidebar {
  position: sticky;
  top: 0.5rem;
  left: 0.79rem;
  height: 98vh;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 1rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(12px);

  width: clamp(3.5rem, 5vw, 15rem);
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar_expanded {
  width: 17rem;
  min-width: 17rem;
}

/* Header*/
.sidebar_header {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--border-gray);
  justify-content: center;
  transition: all 0.3s ease;
}

.sidebar_expanded .sidebar_header {
  justify-content: flex-start;
}

.sidebar_logo_icon {
  color: #6951ff;
  font-family: "Rubik Glitch", cursive;
  font-size: clamp(2.2rem, 1.8vw, 2.5rem);
  text-shadow: 0 0 4px rgba(105, 81, 255, 0.4);
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
}

.sidebar_logo_icon:active {
  transform: rotate(10deg);
}

.sidebar_logo_text {
  font-family: "Inter-Bold", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
}

/*  Navigation*/
.sidebar_nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 1rem 0.75rem;
  overflow-y: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.sidebar_expanded .sidebar_nav {
  opacity: 1;
  pointer-events: auto;
}

/*  메뉴 기본*/
.sidebar_link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0.8rem 1.25rem;
  border-radius: 0.75rem;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.sidebar_link span {
  margin-left: 1rem;
  font-family: "Inter-Regular", sans-serif;
  font-size: 1rem;
  color: var(--text-dark);
  transition: color 0.2s ease;
}

/* 메뉴 레벨별 스타일 */
.sidebar_menu_level {
  display: flex;
  flex-direction: column;
}

.sidebar_menu_level_0 .sidebar_link {
  padding-left: 1.25rem;
  margin-bottom: 0.2rem;
}

/* 하위 메뉴 트리 */
.sidebar_menu_level_1 {
  border-left: none !important;
  margin-left: 0.5rem;
  padding-left: 0.85rem;
}

.sidebar_menu_level_2,
.sidebar_menu_level_3 {
  border-left: 1px solid #8c8c8c;
  margin-left: 0.5rem;
  padding-left: 0.85rem;
}

/* Hover & Active*/
/* Hover (최상위) */
.sidebar_menu_level_0 .sidebar_link:hover {
  background: var(--bg-active-top);
}

.sidebar_menu_level_0 .sidebar_link:hover span {
  color: #fff;
}

/* Active (최상위) */
.sidebar_menu_level_0 .sidebar_link_active {
  background: var(--bg-active-top);
}

.sidebar_menu_level_0 .sidebar_link_active span {
  color: #fff;
}

/* Active (하위 메뉴) */
.sidebar_menu_level_1 .sidebar_link_active,
.sidebar_menu_level_2 .sidebar_link_active,
.sidebar_menu_level_3 .sidebar_link_active {
  background: var(--bg-active-sub);
}
.sidebar_link_active:hover span {
  color: var(--text-dark) !important;
}

.sidebar_menu_level_1 .sidebar_link_active span,
.sidebar_menu_level_2 .sidebar_link_active span,
.sidebar_menu_level_3 .sidebar_link_active span {
  color: var(--text-dark);
  font-weight: 600;
}

.sidebar_menu_level_1 .sidebar_link_active:hover,
.sidebar_menu_level_2 .sidebar_link_active:hover,
.sidebar_menu_level_3 .sidebar_link_active:hover {
  background: var(--bg-active-sub-hover);
}

/* Active dot 표시 */
.sidebar_menu_level_1 .sidebar_link_active::before,
.sidebar_menu_level_2 .sidebar_link_active::before,
.sidebar_menu_level_3 .sidebar_link_active::before {
  content: "";
  position: absolute;
  left: -1.1rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: radial-gradient(circle, #000 25%, rgba(0, 0, 0, 0.3) 45%, transparent 70%);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}


.sidebar_icon {
  width: 1rem;
  height: 1rem;
  transition: all 0.2s ease;
}

.sidebar_link:hover .sidebar_icon {
  filter: brightness(0);
}

.sidebar_menu_level_0 .sidebar_link_active .sidebar_icon {
  filter: brightness(0) invert(1);
}

/* Instance / Database (섹션 구분)*/

.sidebar_link_static {
  cursor: default !important;
  background: none !important;
  pointer-events: none;
}

.sidebar_link_static span {
  font-weight: 700;
  font-size : 1.1rem;
  background : rgba(255, 255, 255, 0.3);
  border : 1px solid rgba(255, 255, 255, 0.4);
  color: #000;
  opacity: 0.9;
}

/* hover 제거 */
.sidebar_link_static:hover {
  background: none !important;
}

.sidebar_link_static:hover span,
.sidebar_link_static.sidebar_link_active span {
  color: inherit !important;
}

/*  Footer*/
.sidebar_footer {
  border-top: 1px solid var(--border-gray);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  margin-top: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.sidebar_expanded .sidebar_footer {
  opacity: 1;
}

.sidebar_footer_link {
  font-family: "Inter-Regular", sans-serif;
  font-size: 0.9rem;
  color: var(--text-gray);
  border-radius: 0.5rem;
  padding: 0.75rem 0.9rem;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sidebar_footer_link:hover {
  background: rgba(17, 24, 39, 0.05);
}
