:root {
  font-size: 16px;
}

.event-log {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1vh;
  width: 100%;
  min-height: 85vh;
}

/* 요약 카드 */
.event-log__summary {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  flex-wrap: wrap;
}

/* 필터 */
.event-log__filters {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  align-items: center;
  margin-top: 1.5rem;
}

/*  테이블 */
.event-log__table {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 0.7rem;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0 0.6rem 1.8rem rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

.e-table-header,
.e-table-row {
  display: grid;
  grid-template-columns: repeat(10, minmax(7rem, 1fr));
  text-align: center;
  padding: 1.1rem;
  align-items: center;
  font-size: 1rem;
}

.e-table-header {
  background: rgb(241, 239, 243, 0.8); 
  font-weight: 700;
  color: #2e2f33;
}

.e-table-row {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #2e2f33;
}


.e-table-row:hover {
  background-color: rgba(127, 129, 242, 0.08) !important; /* 은은한 보라빛 하이라이트 */
}


.e-table-row:nth-child(even) {
  background: rgba(255, 255, 255, 0.5);
}

.info {
  color: #6366f1;
  font-weight: 700;
}
.warn {
  color: #d97706;
  font-weight: 700;
}
.error {
  color: #dc2626;
  font-weight: 700;
}

/*  페이지네이션 */
.event-log__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  margin-top: 2vh;
}

.event-log__pagination button {
  border: 1px solid #c3c3c3;
  border-radius: 0.6rem;
  padding: 0.4rem 0.8rem;
  background: #fff;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.event-log__pagination button.active {
  background: #000;
  color: #fff;
  border-color: #000;
}

.event-log__pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

@media (max-width: 768px) {

  .table-header,
  .table-row {
    grid-template-columns: repeat(5, minmax(6rem, 1fr));
    font-size: 0.8rem;
  }
}
