.widget-card {
  border-radius: 1rem;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  padding: 0.7rem 1rem;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(12px);
  width: 100%;
  min-height: 0;
  /* 기본적으로 auto 높이 */
}

/* react-grid-layout 안에서만 100% 높이 적용 */
.grid-item .widget-card {
  height: 100%;
}



.widget-header {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin: 0 0.4rem 0.4rem;
}

.widget-title {
  font-size: 0.9rem;
  font-weight: 600;
  color: #6b7280;
  margin: 0;
  text-align: left;
}

.widget-subtitle {
  display: inline-block;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: #8594b3;
  padding: 0.125rem 0.5rem;
  margin: 0 0 0 auto; /* 오른쪽 정렬 */
  border-radius: 0.25rem;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.widget-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  min-height: 0;
}

.widget-content > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* react-grid-layout 안의 위젯만 height 100% 적용 */
.grid-item .widget-content {
  height: 100%;
}



.widget-card.no-style {
  background: transparent !important;
  box-shadow: none !important;
  border: none !important;
  padding: 0 !important;
}